# 配置npm国内镜像源
registry=https://registry.npmmirror.com

# 严格校验 Node、pnpm 版本
engine-strict=true

# 安装依赖前校验当前 Git 工作区是否干净，防止锁文件乱改
git-check=true

# 把所有深层子依赖全部提升到项目根目录的 node_modules，解决模块找不到的问题
# shamefully-hoist=true

# 严格按照 lock 文件里锁定的版本安装依赖，禁止自动升级依赖
prefer-frozen-lockfile=true

# 安装依赖时，优先使用本地 monorepo 内的包，不意外拉线上同名包
prefer-workspace-packages=true
